.character-layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.character-silhouette {
  position: relative;
  width: 50%;
  height: 900px;
  background: url('/assets/silhouette.png') no-repeat center center;
  background-color: black;
  background-size: contain;
}

.slot {
  position: absolute;
  cursor: pointer;
  color: white;
}

.slot.head {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.slot.neck {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.slot.ring1 {
  top: 20%;
  right: 40%;
}

.slot.ring2 {
  top: 30%;
  right: 40%;
}

.slot.chest {
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.slot.wrists {
  top: 35%;
  left: 40%;
}

.slot.hands {
  top: 35%;
  right: 40%;
}

.slot.belt {
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.slot.legs {
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

.slot.feet {
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.slot.weapon {
  top: 60%;
  left: 20%;
}

.slot.offhand {
  top: 60%;
  right: 20%;
}

.slot.uniqueSlot {
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.inventory {
  width: 45%;
}

.inventory-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.equip-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 16px;
}

.equip-btn:hover {
  background-color: darkgreen;
}

@media (max-width: 768px) {
  .character-layout {
    flex-direction: column;
    align-items: center;
  }

  .character-silhouette, .inventory {
    width: 100%;
    margin: 0 auto;
  }

  .toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .inventory-item {
    display: block;
    text-align: left;
  }

  .equip-btn {
    float:right;
  }
}
