<h1>Shop</h1>

<!-- Available Items in the Shop -->
<div class="shop-items">
  <h2>Available Items</h2>
  <div *ngFor="let item of shopItems">
    <p>
      {{item.equipment.name}} - Price: {{item.equipment.value}} Gold
      <span *ngIf="!item.isInfiniteStock"> | Quantity: {{item.quantity}}</span>
      <span *ngIf="item.isInfiniteStock"> | Quantity: Infinite</span>
    </p>
    <button (click)="buyItem(item)" [disabled]="!item.isInfiniteStock && item.quantity === 0">Buy</button>
  </div>
</div>

<!-- Player's Inventory -->
<div class="player-inventory">
  <h2>Your Items</h2>
  <div *ngFor="let item of playerItems">
    <p>{{item.name}} - Value: {{item.value}} Gold</p>
    <button (click)="sellItem(item)">Sell</button>
  </div>
</div>

<!-- Go Back to Town Button -->
<div class="go-back">
  <button (click)="goBackToTown()">Go Back to Town</button>
</div>
